.game-instructions__title {
  font-size: 28px;
  text-align: center;
  color: #f21313;
  padding-top: 28px;
}

.game-instructions__text {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-evenly;

  font-size: 24px;
  color: #f21313;

  letter-spacing: 1px;
  text-transform: none;
  text-align: center;
  padding: 8px 32px 0 32px;

  .game-instructions__native-text {
    padding-left: 8px;
    max-width: 175px;
  }
}

.game-instructions__button {
  padding: 12px 0 16px;
  align-items: center;
}