.confirm-dialog__container {
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background:#ffffff;
  box-shadow: 1px 2px 50px #2953a5;

  cursor: default;
  user-select: none;

  .confirm-dialog__text {
    display: flex;
    flex: 1;
    align-items: center;
    font-size: 28px;
    text-align: center;
    color:  #f21313;
    padding: 16px;
  }

  .confirm-dialog__buttons {
    justify-content: space-around;
    padding-bottom: 16px;
  }
}