.settings-dialog__container {
  padding: 20px 0;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.settings-dialog__title {
  padding-top: 10px;
  font-size: 32px;
  font-weight: 500;
  color: #f21313;
  border-bottom: 2px solid;
}